
@font-face {
    font-family: myFirstFont;
    src: url(PressStart2P.ttf);
}

::selection {
background: #FF3D7F;

}
a {
line-height: initial;
}
#wrapper {
width:92%;
margin:auto;
height:auto;

}
body {
font-family:myFirstFont;
font-size:12px;
background-color:#040590;
line-height: 16px;    
}
.yellow-bg {
background-color: yellow!important;

}
#header {

margin:auto;
width:100%;
background-color:#FF1200;
color:white;

}

#main-nav {
float:right;
width:auto;
clear:both;
 margin-top:10px;
 position:relative;
z-index: 1000;
}
.logo {

width:90px;
height:90px;
background-blend-mode: multiply;
display: inline-block;
}
#main-nav li {
display :inline;
float:left;

}
#main-nav li a{
cursor:pointer;
display:block;
margin-left:25px;
text-decoration:none;
color:white;

}
#main-nav li:hover{
background-color:#FF784E;
height:40px;
min-width:200px;

}
ul>li>ul>li>a {
    
    line-height: 15px;
}

#phonecall a{float:right;
 margin-top:5px;
 font-size:30px;
 color:white;
display:block;
text-decoration:none;

}
#phone{
width:40px;
height:40px;
float:right;
margin-right:10px;

}
ul > li > ul {display:none;}
ul > li:hover > ul{display:block;}
ul > li:hover > ul{
width:200px; 
float:left;
color:white;
background-color:#501D50;
margin-top:3px;
cursor:pointer;
}
#oranged {background-color:#FF784E!important;}

li > ul > li > ul{
margin-top:20px;
}

::-webkit-scrollbar {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#main {

padding-top:0px;
height:700px;
 overflow: auto;
background-color:#00DBFF;
width:100%;

}
#container {
width:70%;
float:left;
background-color:#00DBFF;

}
#contents {
padding:20px;

height:60%;
}

#sidebar{

background-color:#322A38;
float:right;
width:30%;
height:100%;
overflow:hidden;

}
.sidebarcontents {
padding:20px;
color:#FF784E;
height:auto;
position:auto;

}
#footer {
width:100%;
clear:both;
background-color:#322A38;
height:180px;


}

.clicked {

background-color:#FF784E;
height:40px;
min-width:200px;

}


.footer-text {
width:30%;
clear:both;
padding:20px;
color:white;
float:left;
}
.container {
width:80%;
height:80px;
margin:auto;
padding-top:40px;

}
#social {
padding:20px;
width:auto;
height:40px;
float:right;

}
.socialimg {

width:40px;
height:40px;

}

@media (max-width:700px){

#sidebar{

clear: both;
width:100%;
height:100%;
    overflow:hidden;}
}

.clearfix:after {


    content: ".";


    display: block;


    clear: both;


    visibility: hidden;


    line-height: 0;


    height: 0;

}

 


.clearfix {


    display: inline-block;

}

 


html[xmlns] .clearfix {


    display: block;

}

 


* html .clearfix {


    height: 1%;

}


