.my_address {
    width: 290px!important;
    margin:auto;
    float: left;
  }

.left_side{
    width: 48%;
    display: inline-block;
    margin-right: 28px;
    vertical-align: top;
}
.right_side{
    width: 49%;
    display: inline-block;
}

  #contact_container {
    width: 800px;
    margin: auto;
  }
#contact_form{
    margin-left: 80px;
}


@media only screen and (max-width: 970px) {
    .left_side{
        width: 100%;
        display: block;
        margin-right: 0;
        vertical-align: top;
    }
    .right_side{
        width: 49%;
        width: 100%;
        display: block;
    }
    #contact_container {
        width: auto;
      }
    #contact_form{
        margin-left: 0;
    }
  }
  @media only screen and (max-width: 760px) {

    .my_address {
        float: none;
      }
    
  }