.my_address {
    width: 290px!important;
    margin:auto;
    float: left;
  }

.left_side{
    width: 60%;
    display: inline-block;
    margin-right: 80px;
    vertical-align: top;
}
.right_side{
    width: 28%;
    display: inline-block;
}

  #contact_container {
    width: 800px;
    margin: auto;
  }
#contact_form{
    margin-left: 80px;
}
.project_hovered{
  background-color: rgba(0, 0, 0, 0.6)!important;
  display: block!important;
}
.portfolio_field_title_left{
  width: 283px;
  background-color: black;
  height: 47px;
}

.portfolio_field_title_left span , .portfolio_field_title_right span {
  color: white;
  font-size: 44px;
  position: relative;
  float: right;
  top: 22px;
  right: 17px;
}

.portfolio_field_title_right{
  width: 283px;
  background-color: black;
  height: 47px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.title_with_p{
  top: 16px!important;
}

@media only screen and (max-width: 970px) {
    .left_side{
        width: 100%;
        display: block;
        margin-right: 0;
        vertical-align: top;
    }
    .right_side{
        width: 49%;
        width: 100%;
        display: block;
    }
    #contact_container {
        width: auto;
      }
    #contact_form{
        margin-left: 0;
    }
  }
  @media only screen and (max-width: 760px) {

    .my_address {
        float: none;
      }
    
  }